

a {
color:#30639F;
}
a:hover {
text-decoration:none;
}
a.link1 {
color:#80909C;
font-size:9px;
text-decoration:none;
}
a.link1:hover {
text-decoration:underline;
}
a.link2 {
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
a.link2:hover {
text-decoration:underline;
}
a.link3 {
color:#30639F;
font-size:10px;
}
a.link4 {
background:transparent url(/sites/default/themes/rfcconnector.com/images/homepage20.gif) repeat-x scroll 0 0;
color:#FFFFFF;
display:block;
text-decoration:none;
}
a.link4:hover {
text-decoration:underline;
}
a.link4 strong {
background:transparent url(images/btnmore.gif) no-repeat scroll right top;
display:block;
font-size:11px;
height:14px;
padding-right:17px;
text-align:right;
}

#links {
margin:0;
padding:24px 0 10px;
}

.style1 {
color:#30639F;
font-size:9px;
margin:0;
padding:0;
text-align:center;
}

.boxtitle span {
font-size:26px
color:#2478AB;
font-weight:900;
margin:0;
padding:0;
}

.subboxtitleimg {
float:left;
margin-right:15px;
}

.subboxtitle {
color:#4EA307;
font-size:10pt;
}

.subboxseperator {
height:1px;
margin:0;
padding:0;
}

#presentAcontent p {
	text-align:right;
	color:#839099;
	font-size:12px;
}

.hr {
border-bottom:1px solid #E0E0E0;
margin:5px 0 20px;
}

p, blockquote, ul, ol, dl {
margin-bottom:1em;
margin-top:0;
text-align:justify;
}


body {
background-color:#FFFFFF;
margin:0;
padding:0;
}


body, th, td, input, textarea, select {
color:#414E5A;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10pt;
}

h1, h2, h3, h4, h5, h6 {
-x-system-font:none;
color:#339900;
font-family:Arial,Helvetica,sans-serif;
font-size:18px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:900;
line-height:normal;
}


#contactform {
	padding-top:40px;
	padding-left:40px;
}

.form-item {
	font-weight:bold;
	margin-bottom:10px;
}

.form-required {
color:#FF0000;
font-weight:bold;
}