.sup_title {
	color:#2D73B9;
}

.fir_title {
	font-size:20px;
	font-family:"Arial", "sans-serif";
	text-indent:+12px;
	color:#2D73B9;
	border-bottom:2px solid #BCD2E6;
}

.sec_title {
	font-size : 16px;
	font-family:"Arial", "sans-serif";
	color:#000000;
	padding-top:8px;
	padding-bottom:0px;
}


.footer {
	font-size : 16px;
	font-family:"Arial", "sans-serif";
	text-align:center;
}

.div_text {
	position :relative;
	margin-left:24px;
	margin-right:16px;
	font-size : 16px;
	font-family:"Arial", "sans-serif";
	color:#000000;
}

