<?xml version="1.0" encoding="utf-8" ?> 
<config>
	<rules>
		<!--on line time -->
		<rule name="onlinetime" enable="true">
			<blocktime>1-1</blocktime>
			<blocktime>2-23</blocktime>
			<blocktime>2-21</blocktime>
		</rule>
		
		<!--URL White List-->
		<rule name="whiteurl" enable="true">
			<url>www.yahoo.com</url>
			<url>www.sohu.com</url>
		</rule>
		
		<!--BLACK URL List-->
		<rule name="blackurl" enable="true">
			<url>www.google.com</url>
			<url>www.baidu.com</url>
		</rule>
		
		<!-- Search Black Words-->
		<rule name="search" enalbe="true">
			<searchengines>
				<searchengine name="google" enable="true"/>
				<searchengine name="yahoo"  enable="true"/>
				<searchengine name="baidu"  enable="true"/>
			</searchengines>
			<blackwords>
				<word>hello1</word>
				<word>hello2</word>
				<word>hello3</word>
			</blackwords>
		</rule>
		
		<!--Image Check-->
		<rule name="imagecheck">
			<check imagetype="bmp" enable="true"/>
			<check imagetype="jpg" enable="true"/>
			<check imagetype="gif" enable="true"/>
			<check imagetype="png" enable="true"/>
			<boudard low="" hight="" />
		</rule>
		
		<rule name="textrule">
			<check language="eng" enable="true"/>
		</rule>
	</rules>
	
	<!--Application Setting-->
	<appsetting>
		<authorize>
			<user username="su" password=""/>
		</authorize>
				
		<!-- eyecasre -->
		<eyecare enable="true" state="eyecare_time" timeleft="32" >
			<time name="eyecare_time" timespan="45"/>
			<time name="enter_time" timespan="45"/>
		</eyecare>
		
		<webhistory enable="true">
			<content type="all_images"   enable="true"/>
			<content type="all_website"  enable="true"/>
			<content type="all_webpage"  enable="true"/>
			<content type="porn_images"  enable="true"/>
			<content type="porn_website" enable="true"/>
			<content type="porn_webpage" enable="true"/>
			<autoclear timespan="" enable="true" min="" max=""/>
		</webhistory>
		
		<screensaver enable="true">
			<autoclear enable="true" min="" max="" timespan=""/>
		</screensaver>
		
		<!-- system configuration-->
		<syssetting>
			<app type="autoload" enable="true"></app>
		</syssetting>
	</appsetting>
</config>